---
layout: default
---

<h1>Un Blog Libre et Léger</h1>
<p>
Ceci est mon blog, ou Weblog, bref une sorte de journal personnel, depuis 2005 dans de nombreuses formes, celle-ci étant la 7ème. D'où le 7.1 avec les dernières évolutions de forme...On y trouve un peu de tout par les menus juste au dessus avec des sous-rubriques variées et parfois avariées, des trucs geek à la géopolitique en passant par la musique, le cinéma, l'écologie ou ... l'automobile. Pas de fonction recherche (regardez dans le navigateur, il y a tout ce qu'il faut..."rechercher dans la page"), pas de cookies (il y a des recettes, mais pas de ça), pas de statistiques et très peu d'images, d'où le sous-titre. Un souci de la lisibilité et de l'accessibilité sur tous les terminaux avec la prise en compte du mode dark, du WCAG et des trucs avec des abréviations bizarres tout en bas de la page. Bonne lecture. 
</p>

<h2>Les 15 derniers articles :</h2>

<div class="posts">
  <ul>
  {% for post in site.posts limit:15 %}
<li><span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a><span class="category">{{ post.category | categorie : "%B" }}</span></li>
  {% endfor %}
  </ul>
</div>

<h3><a href="/archive/">Archives</a> - <a href="/pages/blogroll/">Blogroll</a></h3>
 
<em>Vous pouvez faire un don sur <a href="https://liberapay.com/Chez_Iceman/donate">Liberapay</a></em>
<p>

</p>
