---
layout: default
title: Autres sujets - Automobile, Géopolitique, Environnement
---
<h2><a href="#automobie">Automobile</a> - <a href="#geopolitique">Géopolitique</a> - <a href="#environnement">Environnement</a> - <a href="#vegan">Végétarisme et Véganisme</a></h2> 

<div class="posts" id="automobile">
   <h3>Automobile</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "automobile" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="geopolitique">
  <h3>Géopolitique</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "geopolitique" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="environnement">
  <h3>Environnement</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "environnement" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="vegan">
   <h3>Végétarisme et Véganisme</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "vegan" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
