---
layout: default
title: Culture - Musique, Cinema, BD, Litterature, Tourisme
---

<h2><a href="#musique">Musique</a> - <a href="#cinema">Cinéma</a> - <a href="#serie">Séries</a> - <a href="#bd">BD</a> - <a href="#litterature">Littérature</a> - <a href="#tourisme">Tourisme</a></h2>  

<div id="musique" class="posts">
   <h3>Musique</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "musique" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="cinema">
  <h3>Cinéma</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "cinema" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="serie">
   <h3>Séries</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "serie" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="bd">
   <h3>BD</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "bd" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="litterature">
   <h3>Littérature</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "litterature" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="posts" id="tourisme">
   <h3>Tourisme</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "tourisme" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

