---
layout: default
title: Geekeries
---
<h2><a href="#geek">Geekeries</a> - </h2> 
<div class="posts" id="geek">
   <h3>Geekeries</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "geek" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

