---
layout: default
title: Reflexions
---
<h2><a href="#reflexion">Réflexions</a> - <a href="#poesie">Poésie</a> </h2> 
<div class="posts" id="reflexion">
   <h3>Reflexions</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "reflexion" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="posts" id="poesie">
   <h3>Poésie</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "poesie" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

