---
layout: default
title: Tutoriels
---

<div class="posts">
   <h3>Tutoriels</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.category contains "tuto" %}
    <li>
      <span class="date">{{ post.date | date: "%d/%m/%Y" }} - </span>
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}} - </a>
      <span class="category">{{ post.category | categorie : "%B" }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>



