<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="me" href="https://mamot.fr/@cheziceman" >
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
<title>{% if page.title %}{{ page.title }} – {% endif %} {{ site.name }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" >
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" >
<link rel="canonical" href="{{site.url}}{{page.url}}" >
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">
<meta charset="utf-8" >
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta name="keywords" content="{{ site.keywords }}">
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" >
<meta name="author" content="{{ site.name }}" >
<meta property="og:type" content="article" >
<meta property="og:url" content="{{ page.url }}" >
<meta property="og:title" content="{{ page.title }}" >
 
{% if page.image %}
  <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/images/cheziceman.jpg" property="og:image">
{% endif %}

</head>

<body>
  <header>
  <div class="banner">
  <pre>

 ######  ##     ## ######## ########    ####  ######  ######## ##     ##    ###    ##    ## 
##    ## ##     ## ##            ##      ##  ##    ## ##       ###   ###   ## ##   ###   ## 
##       ##     ## ##           ##       ##  ##       ##       #### ####  ##   ##  ####  ## 
##       ######### ######      ##        ##  ##       ######   ## ### ## ##     ## ## ## ## 
##       ##     ## ##         ##         ##  ##       ##       ##     ## ######### ##  #### 
##    ## ##     ## ##        ##          ##  ##    ## ##       ##     ## ##     ## ##   ### 
 ######  ##     ## ######## ########    ####  ######  ######## ##     ## ##     ## ##    ## 

  </pre>
  </header>
<nav>
  <a href="{{ site.baseurl }}/">/Accueil</a>  
  <a href="{{ site.baseurl }}/pages/geek">/Geekeries</a>
  <a href="{{ site.baseurl }}/pages/reflexion">/Reflexions</a>
  <a href="{{ site.baseurl }}/pages/culture">/Culture</a>
  <a href="{{ site.baseurl }}/pages/tuto">/Tutoriels</a>
  <a href="{{ site.baseurl }}/pages/autres">/Autres</a>
  <a href="{{ site.baseurl }}/about">/A propos</a>
</nav>

<p>
{{ content }}
</p>

<footer>
<em>(c.
<a href="https://www.cheziceman.fr/feed.xml">RSS validé W3C</a> - 
<a href="https://validator.w3.org/">HTML5 validé W3C</a> - 
<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC 4.0</a> - 
<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD OK, pas de données</a> -
<a href="http://www.april.org">Membre APRIL</a></em> 
</footer>

</body>
</html>
