---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>
  
<br/><font size="2">
  <div class="date">
    Ecrit le : {{ page.date | date: "%d/%m/%Y" }}
  </div>
  
  <div class="category"><i>
    Categorie : {{page.category}}</i>
  </div>
  
  <div class="tags"><i>
    Tags : {{page.tags}}</i>
  </div></font>

  
 <i><b> <p style="color:#feff02;">
Commentaires : par <a href="https://sharetomastodon.github.io/?title=au sujet de ton article {{page.title}}, @icemanfr75@mastodon.social, je voulais te dire que" target="_blank"> Mastodon </a> ou <a href="mailto:cheziceman@mailo.com?subject={{page.title}}" target="_blank" >E-Mail</a>.</i> </b>
 </p>
 </br>
